.small-title {
    text-align: center;
    font-size: 36pt;
    font-weight: 600;
    line-height: 1;
}

.large-title {
    text-align: center;
    font-size: 80pt;
    font-weight: 600;
    line-height: 1;
}

body {
    margin: 0;
    padding: 25px;
    font-family: "Inter UI", sans-serif;
    background: linear-gradient(#000000, #004000);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}

html {
    background: #004000;
}

.finale-video {
    margin: 25px;
    width: calc(100% - 50px);
    height: 270px;
}

.intro,
.constrained,
.chapter-wrapper {
    width: calc(100% - 50px);
    margin: 25px;
}

@media (min-width:740px) {
    .finale-video {
        width: 640px;
        height: 360px;
    }
    .intro,
    .constrained,
    .chapter-wrapper {
        width: 640px;
        margin: 25px auto;
    }
}

@media (min-width:1060px) {
    .finale-video {
        width: 960px;
        height: 540px;
    }
    .intro,
    .constrained,
    .chapter-wrapper {
        width: 960px;
    }
}

@media (min-width:1380px) {
    .finale-video {
        width: 1280px;
        height: 720px;
    }
    .small-title {
        font-size: 54px;
    }
    .large-title {
        font-size: 120px;
    }
    .intro,
    .constrained,
    .chapter-wrapper {
        width: 1280px;
    }
}

.finale-wrapper {
    width: 100%;
    text-align: center;
}

.credits-wrapper {
    margin-top: 50px;
}

.middle-text {
    text-align: center;
}

a {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

nav > a:hover {
    opacity: inherit;
}

.intro {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.fab {
    font-weight: normal;
}

.fa-align-left {
    font-size: 30px;
    top: -3px;
}

.icon {
    color: white;
}

.soundcloud {
    height: 36px;
}

.align-left {
    height: 30px;
    margin-bottom: 3px;
}

.svglink {
    position: relative;
    display: inline-block;
}

.svglink:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.youtube {
    height: 36px
}

.soundcloud-wrapper {
    width: calc(50% - 26.5px);
    vertical-align: top;
}

.left {
    margin-right: 24px;
    display: inline-block;
}

.text-wrapper {
    width: calc(50% - 26.5px);
    vertical-align: top;
}

.text-wrapper > p:first-of-type {
    margin-top: 0;
}

.text-wrapper > p:last-of-type {
    margin-bottom: 0;
}

.right {
    margin-left: 24px;
    display: inline-block;
}

.fa-bars {
    opacity: 0.5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
}

nav:hover > .fa-bars,
.fa-bars:hover {
    opacity: 1;
}

@media (max-width:1059px) {
    .chapter-wrapper {
        display: flex;
        flex-direction: column;
    }
    .soundcloud-wrapper {
        margin: 0;
        display: block;
        width: 100%;
        order: 1;
        margin-bottom: 25px;
    }
    .text-wrapper {
        margin: 0;
        display: block;
        width: 100%;
        order: 2;
    }
}

@media (max-width:739px) {
    nav {
        display: none;
    }
}

.first-exit-footer {
    width: 100%;
    max-width: 10cm;
}

nav {
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

nav > a {
    display: block;
    opacity: 1;
}

nav > .chapter-anchor {
    display: none;
}

nav:hover > .chapter-anchor,
nav:focus > .chapter-anchor {
    display: block;
    margin: 0 auto;
}

.small-title.constrained {
    padding-top: 25px;
}
